* {
    margin: 0;
    color: darkorange;
}
html{
    white-space:nowrap;
    }
    body {
    overflow-x: hidden;
    }
.bloc{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bloc video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
    overflow:hidden(100%); 
}

.header{
    background-color: rgba(0, 0, 0, 0.493);
    height: 80px;
    margin: 10px;
    position: relative;
    margin: 0;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}
.logo ul li a{
    padding: 100px;
}

ul li a{
    color:#cecece ;
    letter-spacing: 0.1rem;
    font-family:"Bebas Neue", sans-serif;
}
ul li a{
    color: #cecece;
    letter-spacing: 0.1rem;
    font-family: "Bebas Neue", sans-serif;
    justify-content: space-between;
}

ul li a:hover{
    color: rgb(207, 207, 207);
    text-decoration:none;
    font-family: "Bebas Neue", sans-serif;
}
.menu li{
    float: left;
    padding: 35px;

}
.menu li a{
    text-decoration: none;
    
}
form{
    padding: 35px ;
    text-align: right;
}
input[type="search"]{
    color: #cecece;
    font-size: 17px;
    font-family: "Bebas Neue", sans-serif;
    float: left;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: 200;
    position: fixed,relative;

}
.header .logo{
    width: 20%;
    height: 100% ;
    position: relative;
    margin: -8.6%;
    float: right;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: 200;
}
.header .recherche{
    color: #cececea8;
    background-color: #0000009d;
    text-align: center;
    border: #000000c2;
    border-radius: 5%;
    font-family: "Bebas Neue", sans-serif;
    animation: fadeIn 2s forwards;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: 200;
    position: fixed,relative;
}

blockquote {
    min-height: 24em;
    padding: 1em 4em;
    font: 1em/100% "Bebas Neue", sans-serif;
    position: absolute;
    background-color: rgba(3, 3, 3, 0.342);
    border-radius: 8px;
    text-align: center;
    animation: fadeIn 5s forwards;
    flex-grow: 1;
    justify-content: space-between;
    }
blockquote::before,
blockquote::after {
    position: absolute;
    height: 5rem;
margin-left: 50%;
    font:
    6rem/100% "Bebas Neue", sans-serif;
}
blockquote::before {
    content: "";
    top: 0.3rem;
    left: 0.9rem;
    border-radius: 20%;
}

blockquote::after {
    content: "";
    bottom: 0.3rem;
    right: 0.8rem;
    
}

blockquote:lang(fr)::before {
    content: "";
    top: -1.5rem;
    right: 0.5rem;
    
}

blockquote:lang(fr)::after {
    content: "#";
    bottom: 2.6rem;
    right: 0.5rem;
    
}

blockquote i {
    display: block;
    font-size: 0.8em;
    margin-top: 1rem;
    text-style: italic;
    text-align: center;
    
}
.body2 {
    font-family: "Bebas Neue", sans-serif;
    line-height: 1.5;
    margin: 20px;
    padding: 0;
    flex-grow: 1;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    font-size: 2.5rem;
    color: #333;
}
.container {
    max-width: 1850px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    background-color: #000000a9;
    border-radius: 8px;
    overflow-y: hidden;
    
}

blockquote {
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
    margin: 0;
    background-size: cover;
}
blockquote.left {
    text-align: left;
}
blockquote.right {
    text-align: right;
}
.container .video{
    height: 862px;
    width: 1343px;
    float: right;
    z-index: -100;
}
.container .text {
    column-width: 200px;
    column-gap: 20px;
}
.text .adobe {
    font-family: "Bebas Neue",sans-serif;
    padding: 50%;

}
.container .text-bloc{
    top: 14%;
    left: 1%;
    min-height: 26%;
    min-width: 98%;
    padding: 2px;
    background-color: #0000009d;
    border: none;
}